packages:
  yum:
    git: []
    postgresql95-devel: []

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "config.settings"
    PYTHONPATH: "/opt/python/current/app/config:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
      WSGIPath: config/wsgi.py
commands:
  WSGIPassAuthorization:
    command: sed -i.bak '/WSGIScriptAlias/ a WSGIPassAuthorization On' config.py
    cwd: /opt/elasticbeanstalk/hooks